* {margin: 0; padding: 0}
body {background: #000;}
canvas {display: block;} 

@media all and (min-width: 1001px) {
  #sidebar ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #sidebar ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
  }
}

@media (max-width:767px) {
  .portfolio img {
      max-width: 100%;
      max-height: 100%;
  }
}

@media (min-width:768px) {
  .landing img {
      max-width: 240px;
      max-height: 240px;
  }
}

@media (min-width:992px) {
  .landing img {
      max-width: 314px;
      max-height: 314px;
  }
}

@media (min-width:1200px) {
  .landing img {
      max-width: 380px;
      max-height: 380px;
  }
}

@media screen and ( max-width: 1024px ) {
  img.responsive { width: 200px; }
  }
  @media screen and ( min-width:1025px ) and ( max-width: 1280px ) {
  img.responsive { width: 300px; }
  }
  @media screen and ( min-width: 1081px ) {
  img.responsive { width: 400px; }
  }
  img.responsive { height: auto; }

#top, #bottom, #left, #right {
  // background: #F3340d;
  background: #FFF;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
    width: 2px;
    border-radius: 2px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
    height: 2px;
    border-radius:2px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/* The image used  for binary animation*/
#canvas  {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}



.canvas {
font-size: #fff;
} 

* body {
    background-color:black;
    margin: 40px;
 align-items: center; 
 text-align: center;
 canvas {display: block;}


  }   

  .line {
    position: relative;
    // top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
#anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


  @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
// Cards 
  section .card {
    padding: 0;
    margin: 0;
    background-color: #262528;
    color: white;
    font-family: 'DM Mono', monospace;
  }

  .card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}


.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
} 

.card {
  /* ... */

  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}


.card:not(:first-child) {
  margin-left: -130px;
}

.card-picture{
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
  //  max-width: 100%;
  //  height: 100px;
  //  bottom: 90px;
}

.card-picture img {
  display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
    max-width: 100%;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}




/* Nav and logo */
.navbar__hamburger {
  display: block;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  border: 0 none;
  background: transparent;
  
}

.navbar__hamburger-top,
.navbar__hamburger-middle,
.navbar__hamburger-bottom {
  display: block;
  width: 100%;
  height: .2em;
  margin-bottom: .2em;
  transition: transform .2s ease-in-out;
  border-radius: 10em;
  background: #FFF;
  
}

.navbar__hamburger-top,
.navbar__hamburger-bottom {
  content: '';
}

.navbar__hamburger-top--toggled {
  transform: translateY(.4em) rotate(135deg);
}

.navbar__hamburger-middle--toggled {
  transform: scale(0);
}

.navbar__hamburger-bottom--toggled {
  transform: translateY(-.4em) rotate(-135deg);
}


.navbar__menuitem {
  padding: 20px 20px 20px 15px;
  color: #FFF;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}



.navbar__menuitem {
  display: none;
}

.navbar__menuitem--toggled {
  // background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
  display: block; 
  font-family: 'Lato', sans-serif;
}

.navbar__menuitem:hover {
  // background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
  border-left-color: #FFF;
  font-family: 'Fira Sans', sans-serif;
} 

.navbar__logo {
    // background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
    display: block;
    border-radius: 8px;
}

@media (min-width: 564px) {
  .navbar__logo,
  .navbar__menuitem {
    font-family: 'Fira Sans', sans-serif;
      display: inline-block;
      background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
  }
  .navbar__menuitem:hover {
    background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
      box-shadow: inset 0 -5px 0 0 #FFF;
      border-left-color: transparent;
  }
  .navbar__hamburger {
      display: none;
  } 
  

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

 

 
.landing {
    display: flex;
    align-items: flex-start;
  align-items: center;
  flex-direction: column;
  background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
  border-radius: 50px;
 margin-bottom: 200px;
 
  }

.About { 
display: flex;
 justify-content: center;
align-items: center;
flex-direction: column;
// background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  margin-bottom: 200px;
  }
  .Projects {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  border-radius: 50px;
  margin-bottom: 200px;
  } 
  .Experience {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 8px;
  margin-bottom: 200px;
  } 
  .Contact {  
    display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
  border-radius: 8px; 
  margin-bottom: 200px;
 }   

//  .container {  
  // background: url(http://subtlepatterns.com/patterns/micro_carbon.png);
// }   

#me {
    margin: 30px;
    border-radius: 30%;
    height: 225px;
    opacity: 0.6;
    align-items: center;
    max-width: 100%;
  } 
  #Birmingham {
    margin: 40px;
    border-radius: 8px;
    opacity: 0.6;
    align-items: center;
    z-index: -1;
    position: relative;
  }  
  :active, :focus {
	outline: 0;
}
/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
/** Styling the Button **/
#button {
	font-family: "FontAwesome";
	text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	font-size: 32pt;
	display: block;
	position: relative;
	text-decoration: none;
    box-shadow: 0px 3px 0px 0px rgb(34,34,34),
    			0px 7px 10px 0px rgb(17,17,17),
    			inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
    			inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
	width: 70px;
	height: 70px;
	border: 0;
	color: rgb(37,37,37);
	border-radius: 35px;
	text-align: center;
	line-height: 79px;
	background-color: rgb(83,87,93);

	transition: color 350ms ease, text-shadow 350ms;
		-o-transition: color 350ms ease, text-shadow 350ms;
		-moz-transition: color 350ms ease, text-shadow 350ms;
		-webkit-transition: color 350ms ease, text-shadow 350ms;
}
#button:before {
	content: "";
	width: 90px;
	height: 90px;
	display: block;
	z-index: -2;
	position: absolute;
	background-color: rgb(26,27,29);
	left: -5px;
	top: -2px;
	border-radius: 40px;
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
			 	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#button:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
    			0px 3px 7px 0px rgb(17,17,17),
    			inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
    			inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
  	top: 3px;
}
#button.on {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
    			0px 3px 7px 0px rgb(17,17,17), 
    			inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
    			inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
  	top: 3px;
 	color: #fff;
  	text-shadow: 0px 0px 3px rgb(250,250,250);
}
#button:active:before, a.on:before {
	top: -5px;
	background-color: rgb(26,27,29);
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
			 	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Styling the Indicator light */
#button + .light {
	display: block;
	width: 8px;
  height: 8px;
  position: absolute;
  top: 175px;
	background-color: rgb(226,0,0);
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
				0px 0px 3px 2px rgba(226,0,0,0.5);
     border-radius: 4px;
     clear: both;
 	transition: background-color 350ms, box-shadow 700ms;
	-o-transition: background-color 350ms, box-shadow 700ms;
	-moz-transition: background-color 350ms, box-shadow 700ms;
	-webkit-transition: background-color 350ms, box-shadow 700ms;
}
#button.on + .light {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
				0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(135,187,83);
}
/* @font-face { */
  /* font-family: "Library 3am"; */
  /* src: url("https://shackdev.com/css/Library-3-am.otf"); */
/* } */
h1.neon-heading {
  color: #fff;
  font-family: 'Sirin Stencil';
    text-transform: uppercase;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
}
h1.neon-heading.first {
  text-shadow: 0px 0px 10px #F3340d,
      0px 0px 20px #F3340d,
      0px 0px 30px #F3340d,
      0px 0px 40px #F3340d,
      0px 0px 50px #F3340d,
      0px 0px 60px #F3340d;
}
h1.neon-heading.second {
  text-shadow: 0px 0px 10px #33FF00,
      0px 0px 20px #33FF00,
      0px 0px 30px #33FF00,
      0px 0px 40px #33FF00,
      0px 0px 50px #33FF00,
      0px 0px 60px #33FF00;
  animation: pulsating 3s infinite;
}

/* FLICKERING */
span.flickering-1 {
  animation: flickering-1 6s infinite;
}
span.flickering-2 {
  animation: flickering-2 3s infinite;
}
span.flickering-3 {
  animation: flickering-3 5s infinite;
}

/* ANIMATIONS */
@keyframes pulsating {
  0% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
  50% {
      text-shadow: 0px 0px 10px #F3340d,
          0px 0px 20px #F3340d,
          0px 0px 30px #F3340d,
          0px 0px 40px #F3340d,
          0px 0px 50px #F3340d,
          0px 0px 60px #F3340d;
      opacity: 1;
  }
  100% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
}

@keyframes flickering-1 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1; }
}

/* Neon landing text */
h2.neon-heading {
  color: #fff;
  font-family: 'Sirin Stencil';

  text-transform: uppercase;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
}
h2.neon-heading.first {
  text-shadow: 0px 0px 10px #F3340d,
      0px 0px 20px #F3340d,
      0px 0px 30px #F3340d,
      0px 0px 40px #F3340d,
      0px 0px 50px #F3340d,
      0px 0px 60px #F3340d;
}
h2.neon-heading.second {
  text-shadow: 0px 0px 10px #33FF00,
      0px 0px 20px #33FF00,
      0px 0px 30px #33FF00,
      0px 0px 40px #33FF00,
      0px 0px 50px #33FF00,
      0px 0px 60px #33FF00;
  animation: pulsating 3s infinite;
}

/* FLICKERING */
span.flickering-1 {
  animation: flickering-1 6s infinite;
}
span.flickering-2 {
  animation: flickering-2 3s infinite;
}
span.flickering-3 {
  animation: flickering-3 5s infinite;
}

/* ANIMATIONS */
@keyframes pulsating {
  0% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
  50% {
      text-shadow: 0px 0px 10px #33FF00,
          0px 0px 20px #33FF00,
          0px 0px 30px #33FF00,
          0px 0px 40px #33FF00,
          0px 0px 50px #33FF00,
          0px 0px 60px #33FF00;
      opacity: 1;
  }
  100% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
}

@keyframes flickering-1 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1; }
}






// Contact form
#contact{
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Fira Sans", Helvetica, Arial, sans-serif;
  }

}
#contact {
  
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 50%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 50px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #0e9212;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.languages-container {
    color: white;
    margin-bottom: 100px;
}



} 

// About box
#about-box {
    display: flex;
    align-items: flex-start;
  align-items: center;
  flex-direction: column;
} 




* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

